#pageChoix{
    background-color: lightgray;
}

#divPageChoix{
    margin-left: auto;
    margin-right: auto;
    background-color: #c2c1c1;
    width: 90%;
    height : 200px;
    border : 1px solid black;
}

header {
    background-color : rgb(4, 122, 138);
    color : black;
    text-align: center;
}

#intro{
    text-align: center;
}

#btn_site_V1{
    width: 500px;
    height: 60px;
}
#btn_site_V2{
    width: 500px;
    height: 60px;
}
#bouttons{
    text-align: center;
}

input[type=button] {
    cursor : pointer;
    border : none;
    background-color : rgb(4, 122, 138);
    color : #000000;
    height : 2rem;
    vertical-align : middle;
    min-width : 8rem;
    text-align : center;
}

input[type=button]:hover {
    background-color : #0041a1;
    border : 1px solid #ffffff;
    color : #ffffff;
}
